.table-counter {
  margin: 0 20px;
  text-align: center;
  & th, & td {
    border: 1px solid black;
    padding: 10px 20px;
  }
  & th {
    background-color: #39d2d2;
    color: white;
    min-width: 100px;
    &:first-of-type {
      min-width: 150px;
    }
  }
  & td {
    background-color: white;
    color: purple;
    min-width: 100px;
    &:first-of-type {
      min-width: 150px;
    }
  }
}